html,body{
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;
  background-color: #162545;
}
.main-container{
  position: relative;
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin:0 auto;
  background-color: #fafafa;
  .no-margin{
    margin: 0!important;
  }
  &.landing{
    max-width: 100%;
    background: url("../images/govregs_landing.png") center bottom no-repeat;
    background-size: cover;
    .Header{
      background-color: #fbfcfd;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-bottom: 1px solid #d2d9e4 ;
      .logo{
        height: 88px;
        background-color: #fbfcfd;
        border-bottom: 1px solid #d2d9e4 ;
      }
      .navbar-toggle{
        .icon-bar{
          background-color: #001b42;
        }
      }
    }
    .footer{
      .copyright{
        color: #b4c0d9;
      }
    }
    h1{
      margin-top: 80px;
      text-align: center;
      font-weight: bold;
      color: #001b42;
      font-size: 47px;
    }
    p{
      margin: 25px auto;
      font-size: 21px;
      color: #676F7E;
      line-height: 1.333;
      text-align: center;
      width: 384px;
      height: 75px;
      z-index: 12;
    }
    .main-links{
      width: 600px;
      max-width: 100%;
      margin: 85px auto;
      .link-container{
        text-align: center;
        display: inline-block;
        float: left;
        width: 49%;
        i.fa{
          font-size: 88px;
          color: #062F6B;
          width: 100%;
        }
        button{
          border:1px solid #062F6B;
          border-radius: 5px;
          background-color: #062F6B;
          width: 159px;
          height: 58px;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 16px;
          line-height: 1.125;
          margin-top: 35px;
        }
      }
    }
    @media (max-width: 480px) {
      h1{
        font-size: 40px;
      }
    }
  }
}

.Header {
  width: 100%;
  height: 88px;
  background-color: #1D325C;
  -webkit-box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
  .navbar-toggle{
    display: inline-block;
    margin-right: 5px;
    margin-top: 15px;
    .icon-bar{
      background-color: #ffffff;
      width: 35px;
      height: 3px;
      margin-top: 7px;
      border-radius: 0;
    }
  }
  .logo {
    display: inline-block;
    background-color: #ffffff;
    position: relative;
    padding: 16px 36px 16px 17px;
  }
  .search-container{
    display: inline-block;
    float: right;
    margin-top: 32px;
    margin-right: 20px;
    padding:0 25px;
    width: 50%;
    color: #ffffff;
    &>.search-activate{
      float: right;
      margin-right: -25px;
    }
    i.fa{
      font-size: 25px;
      cursor: pointer;
    }
    .search{
      display: block;
      position: relative;
      width: 100%;
      padding-right: 10px;
      margin-top: -1px;
      &.active{
        visibility: visible;
        opacity: 1;
        -moz-transition: opacity 0.5s; /* Firefox 4 */
        -webkit-transition: opacity 0.5s; /* Safari and Chrome */
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
      }
      &.inactive{
        visibility: hidden;
        opacity: 0;
      }
      button{
        border: none;
        background: transparent;
        position: absolute;
        left: 0;
        top: 0;
      }
      .bootstrap-tagsinput{
        font-size: 25px;
        font-weight: 300;
        border: none;
        background: transparent;
        width: 100%;
        padding-left: 40px;
        margin-top: -6px;
        border-bottom: 1px dotted #ffffff;
        border-radius: 0;
        span.label-info{
          background-color: #334c80;
          color: #98a4be;
          font-weight: 300;
        }
        input{
          color: #ffffff;
        }
      }
      .search-guide{
        position: absolute;
        background-color: #FAFAFA;
        border: 1px solid #E4E4E4;
        border-top: none;
        bottom: -61px;
        left: 10px;
        width: 100%;
        height: 45px;
        padding: 10px;
        a{
          i.fa{
            color: #223459;
            font-size: 20px;
          }
          text-decoration: none;
        }
      }
    }
  }
  .side-menu{
    position: absolute;
    width: 230px;
    z-index: 138;
    background-color: #334c80;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 300;
    &.active{
      visibility: visible;
      opacity: 1;
      -moz-transition: opacity 0.5s; /* Firefox 4 */
      -webkit-transition: opacity 0.5s; /* Safari and Chrome */
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s;
    }
    &.inactive{
      visibility: hidden;
      opacity: 0;
    }
    .close-side-menu{
      border: none;
      background: transparent;
      float: right;
      margin-top: 32px;
      margin-right: 10px;
      color: #ffffff;
      font-size: 25px;
    }
    ul{
      list-style: none;
      width: 100%;
      padding-top: 80px;
      li{
        width: 100%;
        padding: 25px 0;
        a{
          font-size: 14px;
          text-decoration: none;
          color: #ffffff;
          text-transform: uppercase;
          i.fa{
            font-size: 30px;
            vertical-align: middle;
            margin-right: 25px;
            margin-left: 5px;
            &.fa-mobile{
              margin-left: 12px;
              margin-right: 30px;
            }
          }
        }
      }
    }
  }
  @media (min-width: 767px) {
    .search-container{
      position: relative;
    }
  }
}
.icon{
  display: inline-block;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  &.search-icon{
    background: url("../images/search-icon.png") no-repeat;
    width: 34px;
    height: 24px;
    background-position-x: 5px;
  }
  &.search-black-icon{
    background: url("../images/search-black-icon.png") no-repeat;
    width: 26px;
    height: 16px;
    background-position-x: 5px;
  }
  &.remove-icon{
    background: url("../images/remove-icon.png") no-repeat;
    width: 34px;
    height: 24px;
    background-position-x: 5px;
  }
  &.info-icon{
    background: url("../images/info-icon.png") no-repeat;
    width: 34px;
    height: 24px;
    background-position-x: 5px;
  }
  &.mobile-icon{
    background: url("../images/mobile-icon.png") no-repeat;
    width: 24px;
    height: 24px;
    background-position-x: 5px;
  }
  &.mobile-black-icon{
    background: url("../images/mobile-black-icon.png") no-repeat;
    width: 24px;
    height: 28px;
    background-position-x: 5px;
  }
  &.marker-black-icon{
    background: url("../images/marker-black-icon.png") no-repeat;
    width: 30px;
    height: 28px;
    background-position-x: 5px;
  }
  &.mail-icon{
    background: url("../images/mail-icon.png") no-repeat;
    width: 30px;
    height: 16px;
    background-position-x: 5px;
  }
  &.circle-ok-icon{
    background: url("../images/circle-ok-icon.png") no-repeat;
    width: 26px;
    height: 16px;
    background-position-x: 5px;
  }
}
.container{
  padding-top: 17px;
  padding-left: 65px;
  padding-right: 65px;
  .status{
    margin-bottom: 24px;
    .icon{
      vertical-align: middle;
      margin-bottom: 3px;
      margin-right: 5px;
    }
  }
  p{
    padding: 0 5px;
  }
  .breadcrumb{
    padding: 10px 5px;
    background: transparent;
    .separator{
      font-size: 18px;
      margin-left: 5px;
      &:after{
        content: '›';
      }
    }
  }
  .page-title,.page-sub-title{
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 17px;
    color: #223459;
    font-weight: 500;
    .search-word{
      color: #357dd4;
    }
  }
  .page-sub-title{
    margin-bottom: 10px;
    font-size: 18px;
  }
  .text-content{
    line-height: 24px;
    margin-bottom: 25px;
    &.address{
      padding-left: 36px;
      .icon{
        margin-left: -33px;
      }
    }
    &.special{
      padding-left: 25px;
      border-left: 2px solid #1d325c;
      font-weight: 500;
      color: #1d325c;
    }
    li{
      margin-bottom: 8px;
    }
    .icon{
      vertical-align: middle;
    }
  }
  ul.text-content{
    margin-top: -25px;
  }
  .content{
    display: block;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    .title{
      width: 100%;
      border-bottom: 1px solid #dddddd;
      &:hover{
        background-color: #e4f0f9;
      }
      &.reserved{
        &:hover{
          background-color: transparent;
        }
        a{
          color: #666666;
        }
      }
      a{
        font-size: 16px;
        font-weight: 400;
        color: #357dd4;
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 15px 1px 15px 1px;
        span{
          margin-left: 30px;
          font-size: 14px;
          color: #737373;
          font-weight: 300;
        }
      }
    }
  }
  .chapter-content{
    margin-top: 60px;
    .paragraph{
      .title{
        padding-right: 5px;
        padding-left: 5px;
        margin-bottom: 16px;
        color: #223459;
        font-weight: 500;
      }
      .content{
        line-height: 22px;
        margin-bottom: 25px;
        p{
          padding: 0;
        }
        ul{
          padding-left: 20px;
          &.letter-list{
            list-style-type: lower-alpha;
          }
          &.number-list{
            list-style: none;
            counter-reset:  item;
            li:before {
              content: '(' counter(item) ') ';
              counter-increment: item;
            }
          }
          li{
            margin-bottom: 8px;
          }
        }
      }
    }
    .mobile-chapter-navigation{
      display: none;
    }
  }
  .mobile-controls{
    display: none;
  }
  .terms{
    margin-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
  }
  .mobile-store-links{
    margin-top: 25px;
    padding: 0 5px;
    a{
      margin-right: 15px;
    }
  }
  .pagination{
    text-align: center;
    width: 100%;
    li{
      display: inline-block;
      a,span{
        border: none;
        border-radius: 5px;
        background: transparent;
        color: #223459;
        font-weight: 500;
        height: 32px;
        padding: 6px 10px;
        &.active{
          color: #ffffff;
          background-color: #357dd4;
        }
      }
      span{

      }
      &:first-child>a,&:last-child>a{
        position: relative;
        background-color: #334c80;
        border: none;
        width: 48px;
        height: 32px;
        border-radius: 5px;
        span{
          color: #ffffff;
          position: absolute;
          font-size: 25px;
          top: -3px;
          left: 19px;
          height: auto;
          padding: 0;
        }
      }
      &:first-child>a{
        margin-right: 10px;
      }
      &:last-child>a{
        margin-left: 10px;
      }
    }
  }
  .search-result{
    .breadcrumb{
      margin-bottom: 0;
      padding-bottom: 0;
      a{
        width: auto;
        display: inline-block;
        padding: 0;
      }
    }
    .page-title{
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .text-content{
      font-size: 16px;
      .key-word{
        font-weight: 500;
      }
    }
  }
  .table-striped{
    width: 100%;
    border: none;
    tbody{
      border-spacing: 7px 5px;
      tr{
        background-color: #f1f3f8;
        &:nth-child(2n){
          background-color: #e3e7f3;
        }
        td{
          vertical-align: middle;
          padding: 10px;
          &:first-child{
            padding-left: 25px;
            width: 40%;
          }
          .cursive{
            font-style: italic;
          }
          i.fa{
            color: #223459;
            font-size: 16px;
            padding-right: 5px;
          }
          h3{
            width: 30%;
            display: inline-block;
            height: 100%;
            float: left;
          }
          .fixed{
            display: inline-block;
            width: 100px;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
.footer-placeholder{
  height: 72px;
  width: 100%;
  margin-top: 55px;
}
.footer{
  height: 72px;
  width: 100%;
  border-top: 1px solid #dddddd;
  margin-top: 55px;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 22px 15px 0 15px;
  .copyright{
    display: inline-block;
  }
  .social{
    float: right;
    display: inline-block;
    font-size: 20px;
    a{
      color: #223459;
      margin-right: 5px;
    }
  }
}
@media (max-width: 767px) {
  body{
    font-size: 16px;
  }
  .main-container.landing .Header,
  .Header{
    height: 75px;
    .logo{
      height: 75px;
      a{
        img{
          max-height: 100%;
        }
      }
    }
    .navbar-toggle{
      margin-top: 15px;
      .icon-bar{
        width: 30px;
        height: 3px;
        margin-top: 5px;
      }
    }
    .search-container{
      width: auto;
      margin-top: 27px;
      .search{
        position: absolute;
        left: -112px;
        top: 0;
        height: 76px;
        padding-left: 112px;
        background-color: #1D325C;
        padding-top: 27px;
        button{
          left: 110px;
          top: 27px;
        }
        .search-guide{
          bottom: -45px;
          left: 112px;
          z-index: 200;
        }
      }
    }
    .side-menu{
      width: 180px;
      ul{
        padding-left: 20px;
        li{
          padding: 15px 0;
        }
      }
    }
  }
  .container{
    padding-left: 15px;
    padding-right: 15px;
    .status{
      margin-bottom: 10px;
      font-size: 14px;
      .circle-ok-icon{
        margin-right: 0;
      }
    }
    .breadcrumb{
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .page-title{
      margin-top: 10px;
    }
    .content{
      .title{
        a{
          span{
            width: 100%;
            display: inline-block;
            margin-left: 0;
          }
        }
      }
    }
    .text-content{
      font-size: 16px;
      line-height: 30px;
    }
    .mobile-store-links{
      a{
        margin: 0;
        display: inline-block;
        width: 49%;
        padding-right: 5px;
        img{
          width: 100%;
        }
      }
    }
    .chapter-content{
      margin-top: 10px;
      .paragraph{
        display: none;
        &.active{
          display: block;
        }
      }
      .mobile-chapter-navigation{
        display: block;
        span{
          font-size: 14px;
          color: #828282;
          &.next{
            float: right;
          }
        }
        ul{
          padding: 0;
          width: 100%;
          list-style: none;
          color: #357CD3;
          li{
            display: none;
            width: 49%;
            cursor: pointer;
            &.next{
              display: block;
              float: right;
              text-align: right;
              padding-left: 10px;
            }
            &.prev{
              display: block;
              float: left;
              padding-right: 10px;
            }
          }
        }
      }
    }
    .mobile-controls{
      display: block;
      padding-left: 5px;
      padding-right: 5px;
      a{
        text-decoration: none;
        span{
          font-size: 18px;
        }
      }
      .home-link{
        float: right;
      }
      .breadcrumb{
        margin-top: 20px;
        font-size: 12px;
        color: #828282;
        a{
          color: #828282;
        }
      }
    }
  }
}