@charset "UTF-8";
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;
  background-color: #162545; }

.main-container {
  position: relative;
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fafafa; }
  .main-container .no-margin {
    margin: 0 !important; }
  .main-container.landing {
    max-width: 100%;
    background: url("../images/govregs_landing.png") center bottom no-repeat;
    background-size: cover; }
    .main-container.landing .Header {
      background-color: #fbfcfd;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-bottom: 1px solid #d2d9e4; }
      .main-container.landing .Header .logo {
        height: 88px;
        background-color: #fbfcfd;
        border-bottom: 1px solid #d2d9e4; }
      .main-container.landing .Header .navbar-toggle .icon-bar {
        background-color: #001b42; }
    .main-container.landing .footer .copyright {
      color: #b4c0d9; }
    .main-container.landing h1 {
      margin-top: 80px;
      text-align: center;
      font-weight: bold;
      color: #001b42;
      font-size: 47px; }
    .main-container.landing p {
      margin: 25px auto;
      font-size: 21px;
      color: #676F7E;
      line-height: 1.333;
      text-align: center;
      width: 384px;
      height: 75px;
      z-index: 12; }
    .main-container.landing .main-links {
      width: 600px;
      max-width: 100%;
      margin: 85px auto; }
      .main-container.landing .main-links .link-container {
        text-align: center;
        display: inline-block;
        float: left;
        width: 49%; }
        .main-container.landing .main-links .link-container i.fa {
          font-size: 88px;
          color: #062F6B;
          width: 100%; }
        .main-container.landing .main-links .link-container button {
          border: 1px solid #062F6B;
          border-radius: 5px;
          background-color: #062F6B;
          width: 159px;
          height: 58px;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 16px;
          line-height: 1.125;
          margin-top: 35px; }
    @media (max-width: 480px) {
      .main-container.landing h1 {
        font-size: 40px; } }

.Header {
  width: 100%;
  height: 88px;
  background-color: #1D325C;
  -webkit-box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.75); }
  .Header .navbar-toggle {
    display: inline-block;
    margin-right: 5px;
    margin-top: 15px; }
    .Header .navbar-toggle .icon-bar {
      background-color: #ffffff;
      width: 35px;
      height: 3px;
      margin-top: 7px;
      border-radius: 0; }
  .Header .logo {
    display: inline-block;
    background-color: #ffffff;
    position: relative;
    padding: 16px 36px 16px 17px; }
  .Header .search-container {
    display: inline-block;
    float: right;
    margin-top: 32px;
    margin-right: 20px;
    padding: 0 25px;
    width: 50%;
    color: #ffffff; }
    .Header .search-container > .search-activate {
      float: right;
      margin-right: -25px; }
    .Header .search-container i.fa {
      font-size: 25px;
      cursor: pointer; }
    .Header .search-container .search {
      display: block;
      position: relative;
      width: 100%;
      padding-right: 10px;
      margin-top: -1px; }
      .Header .search-container .search.active {
        visibility: visible;
        opacity: 1;
        -moz-transition: opacity 0.5s;
        /* Firefox 4 */
        -webkit-transition: opacity 0.5s;
        /* Safari and Chrome */
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s; }
      .Header .search-container .search.inactive {
        visibility: hidden;
        opacity: 0; }
      .Header .search-container .search button {
        border: none;
        background: transparent;
        position: absolute;
        left: 0;
        top: 0; }
      .Header .search-container .search .bootstrap-tagsinput {
        font-size: 25px;
        font-weight: 300;
        border: none;
        background: transparent;
        width: 100%;
        padding-left: 40px;
        margin-top: -6px;
        border-bottom: 1px dotted #ffffff;
        border-radius: 0; }
        .Header .search-container .search .bootstrap-tagsinput span.label-info {
          background-color: #334c80;
          color: #98a4be;
          font-weight: 300; }
        .Header .search-container .search .bootstrap-tagsinput input {
          color: #ffffff; }
      .Header .search-container .search .search-guide {
        position: absolute;
        background-color: #FAFAFA;
        border: 1px solid #E4E4E4;
        border-top: none;
        bottom: -61px;
        left: 10px;
        width: 100%;
        height: 45px;
        padding: 10px; }
        .Header .search-container .search .search-guide a {
          text-decoration: none; }
          .Header .search-container .search .search-guide a i.fa {
            color: #223459;
            font-size: 20px; }
  .Header .side-menu {
    position: absolute;
    width: 230px;
    z-index: 138;
    background-color: #334c80;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 300; }
    .Header .side-menu.active {
      visibility: visible;
      opacity: 1;
      -moz-transition: opacity 0.5s;
      /* Firefox 4 */
      -webkit-transition: opacity 0.5s;
      /* Safari and Chrome */
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s; }
    .Header .side-menu.inactive {
      visibility: hidden;
      opacity: 0; }
    .Header .side-menu .close-side-menu {
      border: none;
      background: transparent;
      float: right;
      margin-top: 32px;
      margin-right: 10px;
      color: #ffffff;
      font-size: 25px; }
    .Header .side-menu ul {
      list-style: none;
      width: 100%;
      padding-top: 80px; }
      .Header .side-menu ul li {
        width: 100%;
        padding: 25px 0; }
        .Header .side-menu ul li a {
          font-size: 14px;
          text-decoration: none;
          color: #ffffff;
          text-transform: uppercase; }
          .Header .side-menu ul li a i.fa {
            font-size: 30px;
            vertical-align: middle;
            margin-right: 25px;
            margin-left: 5px; }
            .Header .side-menu ul li a i.fa.fa-mobile {
              margin-left: 12px;
              margin-right: 30px; }
  @media (min-width: 767px) {
    .Header .search-container {
      position: relative; } }

.icon {
  display: inline-block;
  position: relative;
  padding-left: 5px;
  padding-right: 5px; }
  .icon.search-icon {
    background: url("../images/search-icon.png") no-repeat;
    width: 34px;
    height: 24px;
    background-position-x: 5px; }
  .icon.search-black-icon {
    background: url("../images/search-black-icon.png") no-repeat;
    width: 26px;
    height: 16px;
    background-position-x: 5px; }
  .icon.remove-icon {
    background: url("../images/remove-icon.png") no-repeat;
    width: 34px;
    height: 24px;
    background-position-x: 5px; }
  .icon.info-icon {
    background: url("../images/info-icon.png") no-repeat;
    width: 34px;
    height: 24px;
    background-position-x: 5px; }
  .icon.mobile-icon {
    background: url("../images/mobile-icon.png") no-repeat;
    width: 24px;
    height: 24px;
    background-position-x: 5px; }
  .icon.mobile-black-icon {
    background: url("../images/mobile-black-icon.png") no-repeat;
    width: 24px;
    height: 28px;
    background-position-x: 5px; }
  .icon.marker-black-icon {
    background: url("../images/marker-black-icon.png") no-repeat;
    width: 30px;
    height: 28px;
    background-position-x: 5px; }
  .icon.mail-icon {
    background: url("../images/mail-icon.png") no-repeat;
    width: 30px;
    height: 16px;
    background-position-x: 5px; }
  .icon.circle-ok-icon {
    background: url("../images/circle-ok-icon.png") no-repeat;
    width: 26px;
    height: 16px;
    background-position-x: 5px; }

.container {
  padding-top: 17px;
  padding-left: 65px;
  padding-right: 65px; }
  .container .status {
    margin-bottom: 24px; }
    .container .status .icon {
      vertical-align: middle;
      margin-bottom: 3px;
      margin-right: 5px; }
  .container p {
    padding: 0 5px; }
  .container .breadcrumb {
    padding: 10px 5px;
    background: transparent; }
    .container .breadcrumb .separator {
      font-size: 18px;
      margin-left: 5px; }
      .container .breadcrumb .separator:after {
        content: '›'; }
  .container .page-title, .container .page-sub-title {
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 17px;
    color: #223459;
    font-weight: 500; }
    .container .page-title .search-word, .container .page-sub-title .search-word {
      color: #357dd4; }
  .container .page-sub-title {
    margin-bottom: 10px;
    font-size: 18px; }
  .container .text-content {
    line-height: 24px;
    margin-bottom: 25px; }
    .container .text-content.address {
      padding-left: 36px; }
      .container .text-content.address .icon {
        margin-left: -33px; }
    .container .text-content.special {
      padding-left: 25px;
      border-left: 2px solid #1d325c;
      font-weight: 500;
      color: #1d325c; }
    .container .text-content li {
      margin-bottom: 8px; }
    .container .text-content .icon {
      vertical-align: middle; }
  .container ul.text-content {
    margin-top: -25px; }
  .container .content {
    display: block;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px; }
    .container .content .title {
      width: 100%;
      border-bottom: 1px solid #dddddd; }
      .container .content .title:hover {
        background-color: #e4f0f9; }
      .container .content .title.reserved:hover {
        background-color: transparent; }
      .container .content .title.reserved a {
        color: #666666; }
      .container .content .title a {
        font-size: 16px;
        font-weight: 400;
        color: #357dd4;
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 15px 1px 15px 1px; }
        .container .content .title a span {
          margin-left: 30px;
          font-size: 14px;
          color: #737373;
          font-weight: 300; }
  .container .chapter-content {
    margin-top: 60px; }
    .container .chapter-content .paragraph .title {
      padding-right: 5px;
      padding-left: 5px;
      margin-bottom: 16px;
      color: #223459;
      font-weight: 500; }
    .container .chapter-content .paragraph .content {
      line-height: 22px;
      margin-bottom: 25px; }
      .container .chapter-content .paragraph .content p {
        padding: 0; }
      .container .chapter-content .paragraph .content ul {
        padding-left: 20px; }
        .container .chapter-content .paragraph .content ul.letter-list {
          list-style-type: lower-alpha; }
        .container .chapter-content .paragraph .content ul.number-list {
          list-style: none;
          counter-reset: item; }
          .container .chapter-content .paragraph .content ul.number-list li:before {
            content: "(" counter(item) ") ";
            counter-increment: item; }
        .container .chapter-content .paragraph .content ul li {
          margin-bottom: 8px; }
    .container .chapter-content .mobile-chapter-navigation {
      display: none; }
  .container .mobile-controls {
    display: none; }
  .container .terms {
    margin-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px; }
  .container .mobile-store-links {
    margin-top: 25px;
    padding: 0 5px; }
    .container .mobile-store-links a {
      margin-right: 15px; }
  .container .pagination {
    text-align: center;
    width: 100%; }
    .container .pagination li {
      display: inline-block; }
      .container .pagination li a, .container .pagination li span {
        border: none;
        border-radius: 5px;
        background: transparent;
        color: #223459;
        font-weight: 500;
        height: 32px;
        padding: 6px 10px; }
        .container .pagination li a.active, .container .pagination li span.active {
          color: #ffffff;
          background-color: #357dd4; }
      .container .pagination li:first-child > a, .container .pagination li:last-child > a {
        position: relative;
        background-color: #334c80;
        border: none;
        width: 48px;
        height: 32px;
        border-radius: 5px; }
        .container .pagination li:first-child > a span, .container .pagination li:last-child > a span {
          color: #ffffff;
          position: absolute;
          font-size: 25px;
          top: -3px;
          left: 19px;
          height: auto;
          padding: 0; }
      .container .pagination li:first-child > a {
        margin-right: 10px; }
      .container .pagination li:last-child > a {
        margin-left: 10px; }
  .container .search-result .breadcrumb {
    margin-bottom: 0;
    padding-bottom: 0; }
    .container .search-result .breadcrumb a {
      width: auto;
      display: inline-block;
      padding: 0; }
  .container .search-result .page-title {
    margin-top: 5px;
    margin-bottom: 5px; }
  .container .search-result .text-content {
    font-size: 16px; }
    .container .search-result .text-content .key-word {
      font-weight: 500; }
  .container .table-striped {
    width: 100%;
    border: none; }
    .container .table-striped tbody {
      border-spacing: 7px 5px; }
      .container .table-striped tbody tr {
        background-color: #f1f3f8; }
        .container .table-striped tbody tr:nth-child(2n) {
          background-color: #e3e7f3; }
        .container .table-striped tbody tr td {
          vertical-align: middle;
          padding: 10px; }
          .container .table-striped tbody tr td:first-child {
            padding-left: 25px;
            width: 40%; }
          .container .table-striped tbody tr td .cursive {
            font-style: italic; }
          .container .table-striped tbody tr td i.fa {
            color: #223459;
            font-size: 16px;
            padding-right: 5px; }
          .container .table-striped tbody tr td h3 {
            width: 30%;
            display: inline-block;
            height: 100%;
            float: left; }
          .container .table-striped tbody tr td .fixed {
            display: inline-block;
            width: 100px;
            margin-right: 20px; }

.footer-placeholder {
  height: 72px;
  width: 100%;
  margin-top: 55px; }

.footer {
  height: 72px;
  width: 100%;
  border-top: 1px solid #dddddd;
  margin-top: 55px;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 22px 15px 0 15px; }
  .footer .copyright {
    display: inline-block; }
  .footer .social {
    float: right;
    display: inline-block;
    font-size: 20px; }
    .footer .social a {
      color: #223459;
      margin-right: 5px; }

@media (max-width: 767px) {
  body {
    font-size: 16px; }

  .main-container.landing .Header,
  .Header {
    height: 75px; }
    .main-container.landing .Header .logo,
    .Header .logo {
      height: 75px; }
      .main-container.landing .Header .logo a img,
      .Header .logo a img {
        max-height: 100%; }
    .main-container.landing .Header .navbar-toggle,
    .Header .navbar-toggle {
      margin-top: 15px; }
      .main-container.landing .Header .navbar-toggle .icon-bar,
      .Header .navbar-toggle .icon-bar {
        width: 30px;
        height: 3px;
        margin-top: 5px; }
    .main-container.landing .Header .search-container,
    .Header .search-container {
      width: auto;
      margin-top: 27px; }
      .main-container.landing .Header .search-container .search,
      .Header .search-container .search {
        position: absolute;
        left: -112px;
        top: 0;
        height: 76px;
        padding-left: 112px;
        background-color: #1D325C;
        padding-top: 27px; }
        .main-container.landing .Header .search-container .search button,
        .Header .search-container .search button {
          left: 110px;
          top: 27px; }
        .main-container.landing .Header .search-container .search .search-guide,
        .Header .search-container .search .search-guide {
          bottom: -45px;
          left: 112px;
          z-index: 200; }
    .main-container.landing .Header .side-menu,
    .Header .side-menu {
      width: 180px; }
      .main-container.landing .Header .side-menu ul,
      .Header .side-menu ul {
        padding-left: 20px; }
        .main-container.landing .Header .side-menu ul li,
        .Header .side-menu ul li {
          padding: 15px 0; }

  .container {
    padding-left: 15px;
    padding-right: 15px; }
    .container .status {
      margin-bottom: 10px;
      font-size: 14px; }
      .container .status .circle-ok-icon {
        margin-right: 0; }
    .container .breadcrumb {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0; }
    .container .page-title {
      margin-top: 10px; }
    .container .content .title a span {
      width: 100%;
      display: inline-block;
      margin-left: 0; }
    .container .text-content {
      font-size: 16px;
      line-height: 30px; }
    .container .mobile-store-links a {
      margin: 0;
      display: inline-block;
      width: 49%;
      padding-right: 5px; }
      .container .mobile-store-links a img {
        width: 100%; }
    .container .chapter-content {
      margin-top: 10px; }
      .container .chapter-content .paragraph {
        display: none; }
        .container .chapter-content .paragraph.active {
          display: block; }
      .container .chapter-content .mobile-chapter-navigation {
        display: block; }
        .container .chapter-content .mobile-chapter-navigation span {
          font-size: 14px;
          color: #828282; }
          .container .chapter-content .mobile-chapter-navigation span.next {
            float: right; }
        .container .chapter-content .mobile-chapter-navigation ul {
          padding: 0;
          width: 100%;
          list-style: none;
          color: #357CD3; }
          .container .chapter-content .mobile-chapter-navigation ul li {
            display: none;
            width: 49%;
            cursor: pointer; }
            .container .chapter-content .mobile-chapter-navigation ul li.next {
              display: block;
              float: right;
              text-align: right;
              padding-left: 10px; }
            .container .chapter-content .mobile-chapter-navigation ul li.prev {
              display: block;
              float: left;
              padding-right: 10px; }
    .container .mobile-controls {
      display: block;
      padding-left: 5px;
      padding-right: 5px; }
      .container .mobile-controls a {
        text-decoration: none; }
        .container .mobile-controls a span {
          font-size: 18px; }
      .container .mobile-controls .home-link {
        float: right; }
      .container .mobile-controls .breadcrumb {
        margin-top: 20px;
        font-size: 12px;
        color: #828282; }
        .container .mobile-controls .breadcrumb a {
          color: #828282; } }

/*# sourceMappingURL=main.css.map */
